.project-list {
    display: grid;
    grid-template-columns: 2fr 1fr;

    .project-list__projects {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
    }
}

.add-project-button {
    margin: 1em;
}
