<mat-toolbar class="navbar">
  <span class="navbar__title">Project Repepie Book</span>
  <span class="navbar__buttons">
    <button mat-stroked-button (click)="onSelect('projects')">Projects</button>
    <button mat-stroked-button (click)="onSelect('order')">Order</button>
    <button mat-stroked-button [matMenuTriggerFor]="menu">
      Settings <mat-icon aria-hidden="false">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Option 1</button>
      <button mat-menu-item>Option 2</button>
    </mat-menu>
  </span>
</mat-toolbar>
