.project-item {
    display: grid;
    grid-template-columns: 1fr 5fr;
    border: 1px solid grey;
    border-radius: 0.5em;

    mat-toolbar {
        border-radius: 0 0.5em 0 0;
    }
}
.content {
    padding: 1em;
}

.image-container {
    max-width: 150px;
    display: flex;
    justify-content: center;
}

.selected {
    background-color: lightblue;
}
